@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.animate-gradient {
    background: linear-gradient(120deg, #372162, #361979, #0e022a);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

body {
    background-color: #210D4F;
    /* Sama dengan background preloader */
    transition: background-color 1s ease;
    /* Transisi halus untuk warna background */
    font-family: 'Outfit', sans-serif;
}

/* Tambahkan gaya animasi */
@keyframes fadeOut {
    0% {
        opacity: 1;
        /* Mulai dengan opacity 1 */
    }

    100% {
        opacity: 0;
        /* Akhiri dengan opacity 0 */
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        /* Mulai dengan opacity 0 */
    }

    100% {
        opacity: 1;
        /* Akhiri dengan opacity 1 */
    }
}

.gradient-text-under-title {
    background: linear-gradient(to right, #ffffff 0%, #999999 100%);
    background-clip: text;
    /* Untuk efek gradient pada teks di Webkit */
    -webkit-background-clip: text;
    /* Untuk efek gradient pada teks di Webkit */
    color: transparent;
    /* Buat teks transparan untuk menampilkan gradient */
}

.gradient-text {
    background: linear-gradient(to right, #CFC2EC 0%, #9669FF 63%, #6521FF 84%);
    background-clip: text;
    /* Untuk efek gradient pada teks di Webkit */
    -webkit-background-clip: text;
    /* Untuk efek gradient pada teks di Webkit */
    color: transparent;
    /* Buat teks transparan untuk menampilkan gradient */
}

.fade-in-up {
    animation: fadeInUp 0.5s ease forwards;
    /* Durasi dan efek animasi */
}

#typed-output {
    color: white;
    /* Warna teks */
    font-size: 24px;
    /* Ukuran font yang lebih besar untuk keterbacaan */
    display: inline;
    /* Agar kursor bisa muncul di samping teks */
}

.typed-cursor {
    color: white;
    /* Warna kursor */
    font-weight: normal;
    /* Mengubah ketebalan font menjadi normal */
    font-size: 24px;
    /* Ukuran font kursor yang lebih kecil */
    animation: blink 0.7s infinite;
    /* Efek berkedip */
    display: inline;
    /* Agar kursor bisa muncul di samping teks */
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #372162, #4a287b, #361979, #210d48, #0e022a);
    /* Gradien dengan variasi warna */
    background-size: 400% 400%;
    /* Memperbesar ukuran gradien */
    animation: moveBackground 20s ease infinite;
    /* Animasi gradien */
    overflow-x: hidden;
}

/* Animasi untuk gradien */
@keyframes moveBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#typed-text-2 {
    color: white;
    font-size: 28px;
    display: inline;
}

@keyframes blink-2 {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.btn-modern {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    font-size: 18px;
    color: #d2d0d0;
    background-color: black;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-modern:hover {
    background-color: #210D4F;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

#content {
    position: relative;
    z-index: 1;
    /* Menempatkan konten di atas partikel */
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Partikel di belakang */
}

.navbar-fixed {
    position: fixed;
    z-index: 9999;
    background-color: rgb(33 13 79 1 / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.8;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .1);
}

.hamburger-line {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    height: 2px;
    width: 30px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hamburger-active>span:nth-child(1) {
    --tw-rotate: 43deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hamburger-active>span:nth-child(2) {
    --tw-scale-x: 0;
    --tw-scale-y: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hamburger-active>span:nth-child(3) {
    --tw-rotate: -43deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

*{
    box-sizing: border-box;
}
